.drumify rect{
  filter: invert(1) brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

.origin-info{
  font-family: roboto;
  text-transform: uppercase;
  font-size: 10px;
  margin: 2px;
  text-align: center;;
}
